.container {
    display: flex;
}

.left_container {
    min-width: 20%;
}

.right_container {
    max-width: 80%;
    justify-content: center;
}

.btns_container {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    
}